<html>
<head>
  <title>MiRevista</title>
  <link rel="shortcut icon" type="image/png" href="/images/icon.ico"/>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="Content-Type"
 content="text/html; charset=iso-8859-1">
  <link rel="stylesheet"  type="text/css" href="/css/style.css"/>

<style type="text/css">
body {
	background: {{body_background}};	
}

.leftpanel {
	background-color: {{left_back}} ;
}
.leftpanel ul li a {
	color: {{left_color}};
}

.rightpanel {
	background: {{rigth_back}};
}

.rightbody {
	color: {{rigth_color}};
}

.title {
  	color: {{rigth_color}} ;
  	background-color: {{rigth_back}}
}
</style>

</head>
<body>
<div class="main">
<div class="page">
<div class="header">
<div class="header-img"><img src="/images/xfuera.jpg" alt="" height="170" width="100%"></div>

<div class="topmenu">
{% block autentication %}{% endblock %}		 
</div>
</div>
<div class="content">
<div class="leftpanel">
{% block menu %} {% endblock %}
</div>
<div class="rightpanel">
<div class="rightbody">
{% block title %}{% endblock %}
<p>
{% block content %}{% endblock %}		 
</p>
</div>
</div>
</div>

<div class="footer">
	Copyright &copy  Itziar Polo 2013
</div>

</div>
</div>
</body>
</html>
