{% extends 'index.html' %}


{% block autentication%}
	
	{{user|safe}}
{% endblock %}

{% block menu %}
	<h2>Menu</h2>
	<ul>
		<li><a href="/">Revistas</a></li>
		<li><a href="/ayuda">Ayuda</a></li>
		<li><a href="/canales">Canales</a></li>
		<li><a href="/nombre_revista">Nombre de la revista</a></li>
	  	<li><a href="/css">CSS</a></li>
	  	<li><a href=/{{usuario}}/rss>RSS</a></li>
	</ul>
{% endblock%}

{% block title %}
<h1 class="title">{{revista}}</h1>
{% endblock %}

{% block content %}
	{{content|safe}}
{% endblock %}